.bold{
    font-weight: bold;
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    text-align: center;
    align-items: center;
}

.header{
    text-align: right;
    margin-right: 10px;
    font-size: 25px;
}

.headerbox{
    border: 3px solid black;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 60px;
    z-index: 2;
}

.box_row{
    display: flex;
    gap: 135px;
}

.box{
    width: 400px;
    height: 300px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.font_white{
    color: white;
}
